body {
	background-image:url(../../app/views/res/bg.jpg);
	background-attachment: fixed;
}

#abc {
	width:100%;
	height:100%;
	opacity:.95;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	overflow:auto;
}

img#close {
	position:absolute;
	right:-14px;
	top:-14px;
	cursor:pointer
}

div#popupContact {
	position:absolute;
	left:50%;
	top:5%;
	margin-left:-202px;
	font-family:'Raleway',sans-serif
}

form {
	max-width:300px;
	min-width:250px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff
}

form p {
	margin-top:10px;
	font-family:raleway	
}

/*h2 {
	background-color:#FEFFED;
	padding:20px 35px;
	margin:-10px -50px;
	text-align:center;
	border-radius:10px 10px 0 0
}*/

hr {
	margin:10px -50px;
	border:0;
	border-top:1px solid #ccc
}

input[type=text] {
	width:100%;
	padding:2px;
	margin-top:10px;
	border:1px solid #ccc;
	padding-left:10px;
	font-size:15px;
	font-family:raleway
}

#search_key {
	margin-top: 0px;
}

#search_form {
	border: 0px solid black;
	height: 10%;
	padding: 0 0 0 10;
}

#name {
	background-image:url(../images/name.jpg);
	background-repeat:no-repeat;
	background-position:5px 7px
}

#submit {
	text-decoration:none;
	width:100%;
	text-align:center;
	display:block;
	background-color:#FF1919;
	color:#fff;
	border:1px solid #FFCB00;
	padding:10px 0;
	font-size:20px;
	cursor:pointer;
	border-radius:5px
}

#submit:hover {
	background-color:#800000;
}

span {
	color:red;
	font-weight:700
}

button {
	width:32%;
	height:40px;
	margin: 0 3 0 3;
	border-radius:5px;
	background-color:#FF1919;
	color:#fff;
	font-family:'Raleway',sans-serif;
	font-size:15px;
	cursor:pointer;
	float: left;
}

button:hover {
	background-color:#800000;
}

#button_panel {
	/*border: 1px solid red;*/
	padding-top: 1%;
	padding-bottom: 1%;
	width: 50%;
	height: 90%;
	margin: auto;
}

#header {
	border: 5px solid red;
	width: 80%;
	height: 15%;
	margin: auto;
	border-radius: 10px;
	background-color: white;
}

#header_title {
	margin-left: 5%;
	width: 70%;
	/*border: 1px solid purple;*/
	float: left;
	font-size: 350%;
}

#logo {
	float: left;
	margin-left: 1%;
}

#user_session {
	/*border: 1px solid blue;*/
	width: 15%;
	height: 100%;
	float: right;
}

#user_session p {
	float: right;
	margin-right: 5%;
}

#user_session a {
	float: right;
	margin-right: 5%;
}

#navbar {
	/*border: 1px solid blue;*/
	height: 30%;
	width: 100%;
	float: left;
	border-radius: 5px;
}

.nav_button {
	float: left;
	/*border: 1px solid red;*/
	margin: 10px 5px 0px 5px;
}

#content {
	border: 5px solid red;
	border-radius: 10px;
	margin-top: 1%;
	float: right;
	width: 100%;
	padding-top: 2%;
	background-color: white;
}

#table_container {
	
}

#footer {
	border: 5px solid red;
	width: 100%;
	height: 60px;
	float: left;
	margin-top: 2%;
	border-radius: 10px;
	text-align: center;
	background-color: white;
}

#rt_search {
	float: right;
	/*border: 3px solid blue;*/
	height: 100%;
	margin-bottom: 2%;
	margin-top: 0px;
	margin-right: 7%;
}

#search_live {
	position: absolute;
	display: inline-block;
	border: 1px solid white;
	background-color: white;
	/*width: 30%;*/
	/*height: 30px;*/
	padding-left: 10px;
	display: none;
	float: left;
	margin-top: 2%;
	z-index: 10;
}

#search_live a {
	text-decoration: none;
	color: black;
}

#search_live a:hover {
	text-decoration: none;
	color: red;
}

#module_title {
	float: left;
	display: inline-block;
	margin: 0% 0% 2% 2%;
}